@use "sass:color";
@use "sass:map";
@use "../functions";
@use "../variables";
@use "hover";

@mixin badge-variant($variant) {
  $background: map.get(variables.$badge-bg-colors, $variant);
  $text-color: map.get(variables.$badge-text-colors, $variant);

  color: $text-color;
  background-color: $background;
}
