<template>
    <h1
        class="example"
        data-testid="example">
        {{ name}} Component
    </h1>
</template>

<script lang="js">
{{#if components}}
import { {{ components }} } from 'bootstrap-vue';
{{/if}}

export default {
    name: '{{properCase name}}',
    {{#if components}}
    components: {
        {{ components }}
    },
    {{/if}}
    props: {},
};
</script>

<style lang="scss" scoped>
@import '~assets/scss/includes';

.example {
    color: $danger;
}
</style>
