node_modules
node_modules*/
dist
stats
coverage
cdk.out
.nuxt
.output

# vscode
.vscode/*
!.vscode/settings.json.example
!.vscode/extensions.json

# JetBrains IDEs
.idea/

# Optional npm cache directory and config
.npm
.npmrc

stats-*.html
