@use "sass:color";
@use "gradients";
@use "../variables" as variables;

@mixin alert-variant($background, $border, $color) {
  color: variables.$body-color;
  background-color: variables.$white;
  border-color: variables.$gray-100;

  hr {
    // border-top-color: darken($border, 5%);
    border-top-color: color.adjust($border, $lightness: -5%);
  }

  .alert-link {
    // color: darken($color, 10%);
    color: color.adjust($color, $lightness: -10%);
  }
}
