@use "../variables";

:export {
  blue: variables.$blue;
  light-blue: variables.$lightblue;
  gray-blue: variables.$grayblue;
  indigo: variables.$indigo;
  purple: variables.$purple;
  pink: variables.$pink;
  red: variables.$red;
  orange: variables.$orange;
  yellow: variables.$yellow;
  green: variables.$green;
  teal: variables.$teal;
  cyan: variables.$cyan;
  white: variables.$white;
  gray: variables.$gray-600;
  gray-dark: variables.$gray-800;
}
