/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@use "../variables";

:export {
  cyan-100: variables.$cyan-100;
  cyan-200: variables.$cyan-200;
  cyan-300: variables.$cyan-300;
  cyan-400: variables.$cyan-400;
  cyan-500: variables.$cyan-500;
  cyan-600: variables.$cyan-600;
  cyan-700: variables.$cyan-700;
  cyan-800: variables.$cyan-800;
}
