/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
@use "../variables";

:export {
  blue-50: variables.$blue-50;
  blue-100: variables.$blue-100;
  blue-200: variables.$blue-200;
  blue-300: variables.$blue-300;
  blue-400: variables.$blue-400;
  blue-500: variables.$blue-500;
  blue-600: variables.$blue-600;
  blue-700: variables.$blue-700;
  blue-800: variables.$blue-800;
  blue-900: variables.$blue-900;
}
