/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
@use "../variables";

:export {
  font-weight-lighter: variables.$font-weight-lighter;
  font-weight-light: variables.$font-weight-light;
  font-weight-base: variables.$font-weight-base;
  font-weight-normal: variables.$font-weight-normal;
  font-weight-semibold: variables.$font-weight-semibold;
  font-weight-bold: variables.$font-weight-bold;
  font-weight-bolder: variables.$font-weight-bolder;
  font-weight-boldest: variables.$font-weight-boldest;
}
