/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
@use "../variables";

:export {
  body: variables.$body-color;
  soft-blue: variables.$soft-blue;
  medium-blue: variables.$medium-blue;
  dark-blue: variables.$dark-blue;
  warm-orange: variables.$warm-orange;
}
