/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
@use "../variables";

:export {
  primary: variables.$primary;
  secondary: variables.$secondary;
  success: variables.$success;
  info: variables.$info;
  warning: variables.$warning;
  danger: variables.$danger;
  light: variables.$light;
  dark: variables.$dark;
}
