{
    "editor.formatOnSave": true,
    "editor.codeActionsOnSave": {
        "source.fixAll.eslint": true,
        "source.fixAll.stylelint": true,
        "source.fixAll.markdownlint": true
    },
    "eslint.validate": ["mdx", "javascript", "vue", "javascriptreact", "typescript", "typescriptreact"],
    "eslint.debug": true,
    "eslint.alwaysShowStatus": true,
    "eslint.options": {
        "extensions": [".html", ".js", ".vue", ".jsx", ".mdx"]
    },

    "eslint.workingDirectories": [
        {
            "mode": "auto"
        }
    ],

    "css.validate": false,
    "scss.validate": false,
    "stylelint.validate": ["css", "less", "postcss", "scss", "sass", "vue"],
    "html.format.indentHandlebars": true,
    "html.format.templating": true,
    "html.format.wrapLineLength": 0,

    "vetur.format.defaultFormatter.js": "prettier-eslint",
    "vetur.format.defaultFormatter.ts": "prettier-tslint",
    "files.associations": {
        ".env.dev": "dotenv",
        ".env.prod": "dotenv",
        ".env.local": "dotenv",
        "*.json.example": "json"
    },
    "i18n-ally.localesPaths": ["locales"]
}
