/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../functions";
@import "../mixins";
@import "../variables";

:export {
  blue: $blue;
  light-blue: $lightblue;
  gray-blue: $grayblue;
  indigo: $indigo;
  purple: $purple;
  pink: $pink;
  red: $red;
  orange: $orange;
  yellow: $yellow;
  green: $green;
  teal: $teal;
  cyan: $cyan;
  white: $white;
  gray: $gray-600;
  gray-dark: $gray-800;
}
