/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../functions";
@import "../mixins";
@import "../variables";

:export {
  s1: map-get($deprecated-spacers, 1);
  s2: map-get($deprecated-spacers, 2);
  s3: map-get($deprecated-spacers, 3);
  s4: map-get($deprecated-spacers, 4);
  s5: map-get($deprecated-spacers, 5);
  s6: map-get($deprecated-spacers, 6);
}
