/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../functions";
@import "../mixins";
@import "../variables";

:export {
  font-weight-lightest: $font-weight-lightest;
  font-weight-lighter: $font-weight-lighter;
  font-weight-light: $font-weight-light;
  font-weight-base: $font-weight-base;
  font-weight-normal: $font-weight-normal;
  font-weight-semibold: $font-weight-semibold;
  font-weight-bold: $font-weight-bold;
  font-weight-bolder: $font-weight-bolder;
  font-weight-boldest: $font-weight-boldest;
}
