/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../functions";
@import "../mixins";
@import "../variables";

:export {
  base: $font-size-base;

  font-size-50: $font-size-50;
  font-size-75: $font-size-75;
  font-size-100: $font-size-100;
  font-size-200: $font-size-200;
  font-size-300: $font-size-300;
  font-size-400: $font-size-400;
  font-size-500: $font-size-500;
  font-size-600: $font-size-600;
  font-size-700: $font-size-700;
  font-size-800: $font-size-800;
  font-size-900: $font-size-900;

  // deprecated
  font-size-xxl: $font-size-xxl;
  font-size-xl: $font-size-xl;
  font-size-lg: $font-size-lg;
  font-size-sm: $font-size-sm;
  font-size-xs: $font-size-xs;
}
