/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
@use "../variables";

:export {
  body: variables.$body-color;
  primary: variables.$primary;
  gray: variables.$gray;
  pink: variables.$pink;
  teal: variables.$teal;
  yellow: variables.$yellow;
  orange: variables.$orange;
}
