/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../functions";
@import "../mixins";
@import "../variables";

:export {
  body: $body-color;
  primary: $primary;
  gray: $gray;
  pink: $pink;
  teal: $teal;
  yellow: $yellow;
  orange: $orange;
}
