/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@use "../variables";

:export {
  orange-100: variables.$orange-100;
  orange-200: variables.$orange-200;
  orange-300: variables.$orange-300;
  orange-400: variables.$orange-400;
  orange-500: variables.$orange-500;
}
