/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../functions";
@import "../mixins";
@import "../variables";

:export {
  orange-100: $orange-100;
  orange-200: $orange-200;
  orange-300: $orange-300;
  orange-400: $orange-400;
  orange-500: $orange-500;
}
