/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../functions";
@import "../mixins";
@import "../variables";

:export {
  pink-100: $pink-100;
  pink-200: $pink-200;
  pink-300: $pink-300;
  pink-400: $pink-400;
  pink-500: $pink-500;
  pink-600: $pink-600;
  pink-700: $pink-700;
  pink-800: $pink-800;
}
