/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@use "sass:map";
@use "../variables";

:export {
  s0: map.get(variables.$spacers, 0);

  // deprecated
  s1: map.get(variables.$spacers, 1);
  s2: map.get(variables.$spacers, 2);
  s3: map.get(variables.$spacers, 3);
  s4: map.get(variables.$spacers, 4);
  s5: map.get(variables.$spacers, 5);
  s6: map.get(variables.$spacers, 6);

  // standard
  s25: map.get(variables.$spacers, 25);
  s50: map.get(variables.$spacers, 50);
  s100: map.get(variables.$spacers, 100);
  s150: map.get(variables.$spacers, 150);
  s200: map.get(variables.$spacers, 200);
  s300: map.get(variables.$spacers, 300);
  s450: map.get(variables.$spacers, 450);
  s800: map.get(variables.$spacers, 800);
}
