/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../functions";
@import "../mixins";
@import "../variables";

:export {
  s0: map-get($spacers, 0);
  s25: map-get($spacers, 25);
  s50: map-get($spacers, 50);
  s100: map-get($spacers, 100);
  s150: map-get($spacers, 150);
  s200: map-get($spacers, 200);
  s300: map-get($spacers, 300);
  s450: map-get($spacers, 450);
  s800: map-get($spacers, 800);
}
