/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../bootstrap";
@import "../variables";

:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  light: $light;
  dark: $dark;
}
