/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

@import "../functions";
@import "../mixins";
@import "../variables";

:export {
  yellow-100: $yellow-100;
  yellow-200: $yellow-200;
  yellow-300: $yellow-300;
  yellow-400: $yellow-400;
  yellow-500: $yellow-500;
  yellow-600: $yellow-600;
  yellow-700: $yellow-700;
  yellow-800: $yellow-800;
}
