@import '~@energysage/es-bs-base/scss/bootstrap.scss';
@import "~@energysage/es-bs-base/scss/variables";

:export {
    white:    #fff;
    gray-100: #fafafa;
    gray-200: #ececec;
    gray-300: #dddddd;
    gray-400: #bababa;
    gray-500: #999999;
    gray-600: #7e7e7e;
    gray-700: #565656;
    gray-800: #404040;
    gray-900: #292929;
    black:    #000;
}
