@import '~@energysage/es-bs-base/scss/bootstrap.scss';
@import "~@energysage/es-bs-base/scss/variables";

:export {
    primary:    $primary;
    secondary:  $secondary;
    success:    $success;
    info:       $info;
    warning:    $warning;
    danger:     $danger;
    light:      $light;
    dark:       $dark;
}
